@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", arial, sans-serif;
  line-height: 1.4;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 2;
}

.cf:after,
.cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

*:focus {
  outline: none;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

a {
  color: #1392d4;
}
a:hover {
  color: #1573a3;
}
a:active {
  color: #1573a3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .35em 0;
  color: #1a78b4;
  font-weight: 500;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-style: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2 {
  font-weight: 600;
}

p {
  margin-bottom: 1.2em;
  line-height: 1.54;
  font-size: 13px;
  color: #1e1e1e;
}

b,
strong {
  font-weight: 600;
}

i,
em {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

ul li {
  position: relative;
  padding-left: 1.3em;
}
ul li:before {
  content: '\2012';
  position: absolute;
  left: 0;
}

ul,
ol {
  margin: 0 0 1.3em 0;
}
ul li,
ol li {
  margin-bottom: .8em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  padding: 0 20px 0 30px;
  line-height: 28px;
  border: none;
  border-bottom: 1px solid #696969;
  color: #060606;
  font-size: 82%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: none;
  border-bottom: 1.5px solid #696969;
  box-shadow: none;
}

textarea,
textarea.form-control {
  resize: none;
  overflow: hidden;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid rgba(129, 197, 21, 0.8);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
textarea:focus,
textarea.form-control:focus {
  height: 100px;
  padding: 15px 20px;
  border: none;
  line-height: 18px;
  border-bottom: 2px solid rgba(129, 197, 21, 0.8);
  box-shadow: none;
  overflow: auto;
}

.form-control::-webkit-input-placeholder {
  color: #060606;
  opacity: .9;
}

.form-control::-moz-placeholder {
  color: #060606;
  opacity: .9;
}

.form-control:-ms-input-placeholder {
  color: #060606;
  opacity: .9;
}

.form-control:-moz-placeholder {
  color: #060606;
  opacity: .9;
}

.form-control::placeholder {
  color: #060606;
  opacity: .9;
}

.btn {
  display: inline-block;
  min-width: 200px;
  height: 40px;
  margin: 1em 0;
  padding: 0 25px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .4px;
  color: #fff;
  border-radius: 25px;
  word-break: keep-all;
  text-align: center;
  background-color: #81c515;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn:hover {
  background-color: #1f77b1;
  color: #fff;
}
.btn:active, .btn:focus {
  background-color: #1f77b1;
  color: #fff;
}

.btn_m {
  min-width: 230px;
}

.btn_t {
  border: 2px solid transparent;
}
.btn_t:hover, .btn_t:active, .btn_t:focus {
  background-color: transparent;
  color: #81c515;
  border: 2px solid #81c515;
}

.cover-image {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

/*@import "../images/lang/*.png";
$box-padding: 10px;
@include all-lang-sprites;
*/
.brand-logo {
  margin: -14px 0 0 0;
}

.tel-i {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 8px 0 0;
  background: url(../images/phone.svg);
  background-repeat: no-repeat;
}

.header .tel {
  float: right;
  margin: 0 0 6px 6%;
}
.header .tel a {
  font-weight: 600;
  font-size: 16px;
  color: #797979;
}
.header .tel a strong {
  color: #313131;
}

.navbar {
  height: 42px;
  min-height: 42px;
  margin: 0;
  background: #81c515;
  border: none;
  border-radius: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  float: none;
}
.navbar-nav:after, .navbar-nav:before {
  display: none;
}
.navbar-nav .nav-item a {
  position: relative;
  padding: 12px 15px 10px 15px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
.navbar-nav .nav-item a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  -webkit-transition: height .2s linear;
  -o-transition: height .2s linear;
  transition: height .2s linear;
}
.navbar-nav .nav-item a:hover:after, .navbar-nav .nav-item a:focus:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus {
  color: #fff;
  background: transparent;
}
.navbar-nav .nav-item.active a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  color: #fff;
  background: #fff;
}

.nav .dropdown.open, .nav .dropdown.open > a, .nav .dropdown.open > a:hover {
  color: #fff;
  background: transparent;
}

.caret {
  margin-left: 8px;
}

.dropdown-menu {
  padding: 15px 0;
  background-color: #81c515;
  border: none;
  border-radius: 0;
}
.dropdown-menu li a {
  padding: 14px 15px;
}

.navbar-toggle {
  z-index: 1100;
  position: absolute;
  top: 0;
  right: 20px;
  width: 32px;
  height: 35px;
  margin: 0;
  padding: 0;
  transition-duration: 0.5s;
}
.navbar-toggle .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 30px;
  top: 18px;
  background-color: #fff;
}
.navbar-toggle .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  content: "";
  top: -8px;
  left: 0px;
}
.navbar-toggle .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  content: "";
  top: 8px;
  left: 0;
}
.navbar-toggle.menu-active .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.navbar-toggle.menu-active .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  -ms-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  -o-transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
  transform: rotateZ(45deg) scaleX(1) translate(8px, 3px);
}
.navbar-toggle.menu-active .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  -ms-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  -o-transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
  transform: rotateZ(-45deg) scaleX(1) translate(8px, -3px);
}
.navbar-toggle:hover {
  cursor: pointer;
}

.promo-slider {
  overflow: hidden;
}

.layout .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 9px;
}

.layout .owl-theme .owl-dots .owl-dot.active span {
  background: #81c515;
}

.layout .owl-theme .owl-dots .owl-dot span {
  background: #fff;
}

.layout .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 70px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.article-slider .owl-dots {
  bottom: 10px;
}

.promo-slider-item {
  height: 520px;
}
.promo-slider-item .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.promo-slider-item .slider-info {
  z-index: 100;
  position: relative;
  top: 50px;
  text-align: center;
  color: #fff;
}
.promo-slider-item .slider-title {
  margin: .4em 0 .3em 0;
  font-family: "Open Sans";
  font-size: 44px;
  color: #fff;
  text-transform: uppercase;
}
.promo-slider-item .slider-subtitle {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "Open Sans";
  letter-spacing: .6px;
}

.section-header {
  z-index: 50;
  position: relative;
  padding: 55px 0 35px 0;
  text-align: center;
}

.content-wrap .section-header {
  padding: 40px 0 25px 0;
  text-align: left;
}

.section-title {
  margin: 0;
  font-size: 44px;
  font-family: "Open Sans";
  color: #353537;
  text-transform: uppercase;
}

/*--MAP--------------------------*/
.contact-map {
  position: relative;
  height: 450px;
}
.contact-map .container {
  height: 100%;
}
.contact-map .match-cols {
  height: 100%;
}
.contact-map .section-header {
  text-align: left;
}
.contact-map .section-title,
.contact-map .c-block {
  color: #fff;
}

#map {
  /*top: 0; left: 0;
  right: 0; bottom: 0;
  position: absolute;
  height: 100%; */
}

.contact-detail {
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  background: rgba(129, 197, 21, 0.85);
}
.contact-detail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
.contact-detail .section-header {
  padding-bottom: 15px;
}
.contact-detail .section-title {
  font-size: 35px;
}
.contact-detail .c-block {
  margin-bottom: 35px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
}

/*--Footer-----------------------------*/
.footer {
  background-color: #353537;
  color: #fff;
}
.footer > .container {
  padding: 35px 0 75px 0;
}
.footer a:hover, .footer a:active {
  color: #81c515;
  text-decoration: none;
}

.f-cols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.f-col {
  padding: 25px 20px 0 20px;
}

.f-brand {
  margin-top: -35px;
}

.f-title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
  color: #81c515;
  color: rgba(129, 197, 21, 0.8);
  text-transform: uppercase;
  letter-spacing: .4px;
}

.f-nav-item a {
  padding: 2px 0;
  font-family: "Open Sans";
  font-size: 14px;
  color: #dedede;
}

.f-logo {
  display: block;
  margin-bottom: 15px;
}

.f-text,
.f-text p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff;
  letter-spacing: .4px;
}

.f-list li a {
  position: relative;
  padding: 2px 0;
  color: #dedede;
  font-size: 14px;
  font-family: "Open Sans";
}

.copyright {
  padding: 25px 0;
  background: #202021;
}

.copyright-text {
  padding-top: 30px;
  font-size: 14px;
  color: #dedede;
}

.dev-logo {
  display: block;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #fff;
}

/*--Inner pages-----------------*/
.content {
  padding-bottom: 50px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #353537;
}

.content .article-slider {
  padding: 10px 0 30px 0;
}

/*--MEDIA QUERIES---------------------------------------*/
@media screen and (max-width: 1200px) {
  .navbar-toggle {
    display: block;
  }

  .main-menu .container {
    width: 100%;
    padding: 0;
  }
  .main-menu .navbar-nav.nav {
    display: block;
    text-align: left;
  }
  .main-menu .navbar-nav.nav li {
    display: block;
    float: none;
  }
  .main-menu .navbar-nav.nav a {
    float: none;
    margin: 0;
    padding: 11px 25px;
    color: #fff;
    font-size: 17px;
    border-bottom: 2px solid #343432;
  }
  .main-menu .navbar-nav.nav .dropdown-menu {
    position: static;
    float: none;
    background: transparent;
    padding: 0;
  }
  .main-menu .navbar-nav.nav .dropdown-menu a {
    padding: 11px 25px 11px 40px;
  }
  .main-menu.collapse {
    display: block !important;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }

  /* General styles for all menus */
  .cbp-spmenu {
    background: #1d1d1b;
    position: fixed;
    padding: 35px 0;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    display: block;
  }

  .cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  .cbp-spmenu a {
    display: block;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 305px;
    height: 100% !important;
    top: 0;
    z-index: 1000;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -305px;
  }

  .cbp-spmenu-right {
    right: -305px;
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -150px;
  }

  .cbp-spmenu-bottom {
    bottom: -150px;
  }

  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }

  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cbp-spmenu-push-toright:before {
    z-index: 100;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  /*--END Menu------------------------------*/
  .advantage-section {
    background: url(../images/advantage_sm-bg.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
  }

  .advantage-list {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .advantage-item {
    flex-basis: 49.8%;
    margin-right: 0;
  }
  .advantage-item .sep {
    right: -10%;
  }
  .advantage-item:nth-child(even) .sep {
    display: none;
  }

  .advantage-desc {
    max-width: 250px;
    margin: 0 auto;
  }

  .contact-section {
    padding-bottom: 35px;
    background: url(../images/contact_sm-bg.png) no-repeat;
    background-size: cover;
  }

  .contact-form .form-group {
    float: none;
    margin-right: 0;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form textarea.form-control {
    width: 100% !important;
  }

  .submit-wrap {
    text-align: center;
  }
  .submit-wrap .btn {
    margin-top: 20px;
  }

  .contact-detail {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 990px) {
  .section-title {
    font-size: 36px;
  }

  .f-cols {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 15px;
  }

  .f-col {
    flex-basis: 30%;
  }

  .f-brand {
    flex-basis: 40%;
  }

  .copyright {
    text-align: center;
  }
  .copyright .pull-right {
    float: none !important;
  }
  .copyright .dev-logo {
    display: inline-block;
    margin-top: 10px;
  }

  .copyright-text {
    padding-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .lang-bar {
    height: 30px;
  }
  .lang-bar .lang {
    margin-top: 6px;
  }

  .brand-logo {
    margin-top: -10px;
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .f-col {
    flex-basis: 100%;
  }
}
